@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 30 10% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --card-gradient: linear-gradient(to bottom, #ffffff, #cccccc);
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-text: 220 50% 30%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 0 0 93%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --dim: 0 0% 55%;
    --navShadow: 0px 0px 20px 5px rgba(150, 150, 150, 0.2);
    /* --navShadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1); */
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 10.2%;
    --card-foreground: 0 0% 98%;
    --card-gradient: linear-gradient(to bottom, #000000, #3c3c3c);
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary-text: 180 69% 70%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --dim: 0 0% 39%;
    --navShadow: 0px 0px 20px 5px rgba(192, 192, 192, 0.25);
    /* --navShadow: 0px 0px 20px 5px rgba(66, 220, 219, 0.5); */
  }
}

.card-shadow {
  box-shadow:
    0px 4px 18px #0000000a,
    0px 2.025px 7.84688px rgba(0, 0, 0, .027),
    0px 0.8px 2.925px #00000005,
    0px 0.175px 1.04062px rgba(0, 0, 0, .013);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: hsl(var(--secondary));
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--dim));
    border-radius: 100vh;
  }
}


.card-template {
  @apply bg-card hover:bg-accent card-shadow
}